###
### NAMESPACE
###

import(methods)
import(TDA)
#import(RPointCloud)

importFrom("graphics", "legend", "lines")
importFrom("stats", "approx", "density", "ecdf", "lm", "loess",
           "p.adjust", "predict", "quantile", "sd")
importFrom("splines", "bs")
importFrom("fitdistrplus", "fitdist")

export("transformDurations", "testLGumbel")
export("calculate_counts", "old_cutoff", "new_cutoff", "credible_cutoff")

exportClasses("EBLGumbel")
export("EBLGumbel", "fitLGPrior", "postEst")
exportMethods("hist")
