###
### NAMESPACE
###

import(methods)
import(TDA)

importFrom("graphics",
           "abline", "hist", "legend", "lines", "points", "par")
importFrom("stats",
           "dexp", "lm", "optimize", "predict", "runif", "sd",
           "dgamma", "optim","density", "loess")
importFrom("grDevices",
           "colorRampPalette")
importFrom("Mercator",
           "downsample", "Mercator", "addVisualization")
importFrom("ClassDiscovery",
           "distanceMatrix", "SamplePCA")
importFrom("splines", "bs")
importFrom("circlize",
           "circlize", "colorRamp2",
           "circos.clear", "circos.par", "circos.heatmap")
importFrom("rgl",
           "rgl.open", "rgl.bg", "rgl.viewpoint",
           "open3d", "axes3d", "spheres3d", "lines3d", "title3d")

exportMethods("plot", "hist", "lines", "points", "image")

## Rewrite Rips diagrams using index-offfstes instead of
## hard-wired coordinates
export("disentangle")

## cycle significance by empirical Bayes
exportClasses("ExpoFit", "EBexpo")
export("ExpoFit", "EBexpo", "cutoff")

## pick out cycles
export("getCycle", "cycleSupport")

## objects for primary plotting routines
exportClasses("Cycle", "Feature", "LoopCircos")
export("Cycle", "Feature", "LoopCircos", "angleMeans")

export("voidPlot", "voidFeature")

exportClasses("Projection")
export("Projection")

