###
### NAMESPACE
###

import(methods)
import(TDA)

importFrom("graphics",
           "abline", "hist", "legend", "lines", "points")
importFrom("stats",
           "dexp", "lm", "optimize", "predict", "runif", "sd",
           "dgamma", "optim")
importFrom("grDevices",
           "colorRampPalette")
importFrom("Mercator",
           "downsample", "Mercator", "addVisualization")
importFrom("ClassDiscovery",
           "distanceMatrix", "SamplePCA")
importFrom("splines", "bs")

exportClasses("ExpoFit", "EBexpo")
export("ExpoFit", "EBexpo", "cutoff")
exportMethods("plot", "hist")
