###
### NAMESPACE
###

import(methods)
import(graphics)
import(flowCore)
import(Biobase)

### utility
export("readMIAMEfromFile")

### design class
export("CytangleDesign")
exportClass("CytangleDesign")
exportMethods("dim")

### FCS2RDA
export("readTangleRDA")


