###
### NAMESPACE
###

importFrom("XML",
           "getNodeSet", "xmlGetAttr", "xmlNamespace",
           "xmlParseDoc", "xmlRoot", "xmlParent")
import("igraph")

#importFrom("graphics", "plot")

#exportMethods("plot")

## Functions that perform steps in the process to build the final
## igraph object.
export("collectEdges", "collectNodes", "collectGroups", "collectAnchors")

## graphj and cycle fjunctions
export("GPMLtoIgraph", "nodeLegend", "edgeLegend")
export("findCycles", "interpretCycle", "cycleSubgraph")

## objects for primary plotting routines
#exportClasses("Cycle")


