###
### NAMESPACE
###

importFrom("XML",
           "getNodeSet", "xmlGetAttr", "xmlNamespace",
           "xmlParseDoc", "xmlRoot", "xmlParent")
importFrom("igraph", "E", "V", "all_simple_paths",
           "get.edge.ids", "graph_from_data_frame",
           "neighbors", "subgraph", "set_graph_attr")
importFrom("graphics", "legend")
importFrom("utils", "head")

#exportMethods("plot")

## Functions that perform steps in the process to build the final
## igraph object.
export("collectEdges", "collectNodes", "collectGroups",
       "collectAnchors", "collectLabels", "collectShapes")

## graph and cycle functions
export("GPMLtoIgraph", "nodeLegend", "edgeLegend")
export("findCycles", "interpretCycle", "cycleSubgraph")

## objects for primary plotting routines
#exportClasses("Cycle")


